[run]
source = app
branch = True
omit =
    */tests/*
    */__init__.py
    */migrations/*
    */alembic/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

show_missing = True
precision = 2

[html]
directory = htmlcov
